*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.container{
    background-color: aliceblue;
    width: 100%;
    height: 100vh;
}
.Heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: cursive;
}
.Welcome{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        font-family: cursive;
        color: brown;
}
.myClass{
    width: 300px;
    margin-left: 300px;
    justify-content: center;
    align-items: center;
    font-size: large;
}