<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    {% if user.is_authenticated %}

    <div class="container">
        <div class="Heading">
            Patient Dashboard
        </div>
        <div class="Welcome">
            Welcome {{name}} !!!
        </div>
        <div class="myClass">
            <div>FirstName: </div>
            <div>{{fname}}</div><br>
            <div>LastName: </div>
            <div>{{lname}}</div><br>
            <div>Password: </div>
            <div>{{password}}</div><br>
            <div>Email: </div>
            <div>{{email}}</div><br>
            <div>Profile Picture: </div>
            <!-- <div>{{profilepic}}</div><br>
            <img src="{% static pic.imgage.url %}" alt=""> -->
            <button><a href="{% url 'logout-page' %}">Logout</a></button>
        </div>
       
    </div>
    
    {% endif %}
        
        
        
        
        
        

    
    
    
</body>
</html>